{{ partial "header.html" . }}

  <script type="text/javascript" async>
  (function(){
    if(window.location.hostname == "localhost") return;

    var disqus_shortname = '{{ .Site.DisqusShortname }}';
    var dsqc = document.createElement('script'); dsqc.id = 'dsq-count-scr'; dsqc.type = 'text/javascript'; dsqc.async = true;
    dsqc.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('head')[0]).appendChild(dsqc);
  })();
  </script>

  <main id="list" role="main">
    <div class="article-header light-gray">
      <h1>{{ .Title }}</h1>
      {{ .Content }}
    </div>
    {{ range (.Paginator 10).Pages }}
    <div class="summary">
      <h3>
        <a href="{{ .Permalink }}">{{ .Title }} {{ if .Draft }} - Draft{{end}}</a>
      </h3>
      <div class="meta">
        <span class="date">
          <i class="fa fa-clock"></i>
          {{ .Date.Format "Jan 2, 2006" }}
        </span>
      {{ if .Params.comments }}
        <span class="comment">
          <i class="fa fa-comment"></i>
          <a href="{{ .Permalink }}#disqus_thread"></a>
        </span>
      {{ end }}
        &nbsp;
        <div class="meta-description">{{ .Description }}</div>
        <div class="tags">
        {{ range .Params.tags }}
          <a href="/tags/{{ . | urlize }}">{{ . }}</a>&nbsp;
        {{ end }}
        </div>
      </div>
    </div>
    {{ end }}

    {{ template "_internal/pagination.html" . }}
  </main>

{{ partial "footer.html" . }}
