  <article>
    <h2>Experience</h2>

    <div class="timeline-container">

      <div class="timeline">
        <div class="timeline-item">
          <img class="timeline-image" src="images/mas.png" width="180px"/>
          <span>2022 (Aug) - Current</span>
          <h4><a href="https://moffettautomatedstorage.com/">Software Developer at Moffett Automated Storage</a></h4>
          <ul class="extra-info">
            <li>Stack: C#, MySQL, Linux</li>
            <li>Domain: Warehouse Automation</li>
          </ul>
        </div>
      </div>

      <div class="timeline">
        <div class="timeline-item">
          <img class="timeline-image" src="images/adminis.png" width="180px"/>
          <span>2018 (June) - 2021 (Feb)</span>
          <h4><a href="http://adminis.co.nz">Senior Software Developer at Adminis</a></h4>
          <ul class="extra-info">
            <li>Senior position from May 2020</li>
            <li>Stack: C# ASP.NET, Entity Framework, MSSQL, Angular</li>
            <li>Deployed: AWS</li>
            <li>Domain: Finance / Investment</li>
          </ul>
        </div>
      </div>

      <div class="timeline">
        <div class="timeline-item">
          <img class="timeline-image" src="images/bit.png" width="180px"/>
          <span>2017 (Dec) - 2018 (Feb)</span>
          <h4><a href="https://www.behaviouralinsights.co.uk">Software Contractor at BIT</a></h4>
          <ul class="extra-info">
            <li>Stack: C# ASP.NET Core, PostgreSQL, HTML, JS</li>
            <li>Deployed: Google Kubernetes Engine</li>
            <li>Domain: Behavioural Economics</li>
            <li>Task: Design, create and maintain an A/B testing survey platform</li>
          </ul>
        </div>
      </div>

      <div class="timeline">
        <div class="timeline-item">
          <img class="timeline-image" src="images/tmu.png" width="160px"/>
          <span>2017 (Oct) - 2018 (Mar)</span>
          <h4><a href="https://themoonunit.com">Software Contractor at The Moon Unit</a></h4>
          <ul class="extra-info">
            <li>Stack: Go, PostgreSQL, HTML, JS, Ionic Framework, Cordova, Angular</li>
            <li>Deployed: GKE (Google Kubernetes Engine)</li>
            <li>Domain: Media Production</li>
            <li>Task: Design, create and maintain a mobile app, and web admin portal for employee availability</li>
          </ul>
        </div>
      </div>

      <div class="timeline">
        <div class="timeline-item">
          <img class="timeline-image" src="images/carenz.png" width="200px"/>
          <span>2017 (Sep) - 2018 (Mar)</span>
          <h4><a href="http://www.carenz.co.nz">Senior Developer at CareNZ</a></h4>
          <ul class="extra-info">
            <li>Contractor and senior role from September 2017 onwards</li>
            <li>Stack: C# ASP.NET, Entity Framework, MSSQL, HTML, JS, Kendo</li>
            <li>Domain: Non-profit, Health care, addiction, treatment</li>
          </ul>
        </div>
      </div>
      
      <div class="timeline">
        <div class="timeline-item">
          <img class="timeline-image" src="images/nsad.png" width="180px"/>
          <span>2016 (Nov) - 2017</span>
          <h4><a href="http://nsad.org.nz">Developer at NSAD</a></h4>
          <ul class="extra-info">
            <li>Stack: ASP.NET MVC, Entity Framework, C#, Microsoft SQL (tSQL), HTML, JS</li>
            <li>Deployed: On premise</li>
            <li>See above, business split into CareNZ</li>
          </ul>
        </div>
      </div>

      <div class="timeline">
        <div class="timeline-item">
          <img class="timeline-image" src="images/pathfive.jpg" width="200px"/>
          <span>2016 (March - Nov)</span>
          <h4><a href="https://pathfive.ca/">Full Stack Developer at Pathfive</a></h4>
          <ul class="extra-info">
            <li>Stack: Scala, Play! Framework, PostgreSQL, HTML, JS</li>
            <li>Mobile Stack: Angular2, and Ionic Framework, Firebase Messaging, OTA update/deployments</li>
            <li>Domain: Municipality management</li>
          </ul>
        </div>
      </div>

      <div class="timeline">
        <div class="timeline-item">
          <img class="timeline-image" src="images/qline.jpg" width="200px"/>
          <span>2011-2016</span>
          <h4><a href="http://www.qlinesolutions.com/">Software Developer at QLine Solutions Inc.</a></h4>
          <ul class="extra-info">
            <li>Stack: ASP.NET MVC, Dapper.NET, C#, Microsoft SQL (tSQL), HTML, JS</li>
            <li>Task: Converted 400k line legacy VB6 application to .NET. Provided performance/bug fixes for legacy VB6 application</li>
            <li>Domain: Health care, personal care workers</li>
          </ul>
        </div>
      </div>

      <div class="timeline">
        <div class="timeline-item">
          <img class="timeline-image" src="images/xpc.jpg" width="200px">
          <span>2010-2011</span>
          <h4><a href="http://extreme-pc.ca">System Builder / Manager at Extreme PC</a></h4>
          <ul class="extra-info">
            <li>Built high-performance custom systems ($2k-13k)</li>
            <li>Managed Google AdWords campaign and website product management</li>
            <li>Domain: High performance gaming PC's, assembly / IT</li>
          </ul>
        </div>
      </div>

      <div class="timeline">
        <div class="timeline-item">
          <img class="timeline-image" src="images/ositech.jpg" width="200px"/>
          <span>2009 (June-August)</span>
          <h4><a href="https://www.ositech.com/">Junior Programmer at Ositech Communications</a></h4>
          <ul class="extra-info">
           <li>Task: Wrote web configuration utility for linux powered peripheral device in C++</li>
           <li>Domain: Health care equipment, embedded systems</li>
          </ul>
        </div>
      </div>
    </div>

    <h2>Education</h2>
    <div class="timeline-container">
      <div class="timeline">
        <div class="timeline-item">
          <img class="timeline-image" src="images/trent.jpg" width="200px"/>
          <span>2011-2015</span>
          <h4><a href="http://www.trentu.ca/">BScH - Computer Science: Software Engineering</a></h4>
          <ul class="extra-info">
            <li>Read some of my <a href="/papers">papers</a> on AI, Distributed and ARM Architectures (and some others)</li>
          </ul>
        </div>
      </div>
    </div>

    <h2>Hobby Projects</h2>
    <ul class="content-gallery">
      <li class="content-gallery-item">
        <div><img style="float:left; margin-right: 30px; margin-top: 30px; max-width:350px;" src="https://i.imgur.com/v27shz1.jpg"></div>
        <h3><a href="https://github.com/Tiggilyboo/vanny-hub"><span class="fa fa-github"></span> Vanny-Hub</a></h3>
        <p class="extra-info">
          The Vanny Hub project is a DIY project in order to monitor our Camper's electronics. It interfaces with a collection of products using Modbus RTU 485 and 232. It displays and collects data from these devices using a Raspberry Pi Pico and a WaveShare 2.9" E-Ink screen. The interface shows time to full (dis)charge, current state of charge, current in/out, solar charge information, altenator charging state, and statistics over time.

          <div><a href="/series/camper-power-monitoring/">Read more</a></div>
        </p>
      </li>
      <li style="margin-top: 30px" class="content-gallery-item">
        <div>
          <img style="float: right; margin-left: 15px" src="https://raw.githubusercontent.com/Tiggilyboo/UnityQuadTreePlanet/master/Screenshot.jpg"/>
        </div>
        <h3>
          <a href="https://github.com/Tiggilyboo/UnityQuadTreePlanet">
            <span class="fa fa-github"></span>
            Unity 3D QuadTree Planet Generator
          </a>
        </h3>
        <p class="extra-info">
          This Unity3D script generates a planet using QuadTree level of detail procedurally. It implements 3 dimensional fractional brownian motion noise using
          LibNoise. The script generates higher levels of detail as the camera gets closer to the surface of the planet, and removes higher detail when the camera
          moves away.
        </p>
      </li>
      <li class="content-gallery-item">
        <div><img style="margin-right: 15px" src="https://lh3.googleusercontent.com/gPtjpw-01msAQxLoqNyij9dTkC7AHf9I9ydH3qi5BMgbtRs-iDsEdlGPmkHwoNOzJ-M=w300-rw"/></div>
        <h3><a href="https://github.com/Tiggilyboo/Wikinder"><span class="fa fa-github"></span> Wikinder</a></h3>
        <p class="extra-info">
          Wiknder is a fun way to connect with new and interesting Wikipedia articles. Swipe right to Like or left to Pass on the articles Wiknder
          recommends. Let
          Wiknder help you explore the free encyclopedia containing more than 32 million articles in 280 languages--making it the most comprehensive and widely used reference
          work humans have ever compiled.
          Wiknder is FREE.
        </p>
	       <div style="float: right;">
           <a href="https://play.google.com/store/apps/details?id=com.cannymoose.wiknder&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1">
             <img style="width: 200px;" alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/generic/en-play-badge.png" /></a>
        </div>
      </li>
      <li class="content-gallery-item">
        <div><img style="float:right; margin-left: 15px; margin-top: 30px" src="https://i.imgur.com/vUw5VHV.jpg"></div>
        <h3><a href="https://github.com/Tiggilyboo/planck"><span class="fa fa-github"></span> Planck</a></h3>
        <p class="extra-info">
          What happens if you crammed a Linux ARM single board computer into a keyboard? Oh and the keyboard is using a keyboard format with only 48 keys?
          Well this project was my journey doing exactly that. The keyboard is capable of acting as a peripheral HID device, and also switching to internal Linux mode.
          All of this functionality is contained within a single Linux Kernel Module.
          <div><a href="/series/handwired-keyboard-project/">Read more</a></div>
        </p>
      </li>
      <li class="content-gallery-item">
        <div></div>
        <h3><a href="https://github.com/Tiggilyboo/wapiq"><span class="fa fa-github"></span> WAPIQ</a></h3>
        <p class="extra-info">
          Web API Query Language: Query multiple API endpoints, and map obscure API responses to configured schemas.
          Easily query web APIs in a language akin to SQL. Features static arguments, dynamic query parameters, and HTTP header and body
          manipulation.
          Written in Go, with extensible open source library (Should you wish to serialize into go structs), or as a CLI and pipe on any
          Go supported platform (Reserialize from mapped JSON response).
          Currently only supports JSON mapping from web API responses, potential to support XML and others in the future!
          <div><a href="/blog/WAPIQ/">Read more</a></div>
        </p>
      </li>
      <li class="content-gallery-item">
        <div><img style="float: right;" src="https://github.com/Tiggilyboo/radial-plot-js/raw/master/demo.png"/></div>
        <h3><a href="https://github.com/Tiggilyboo/radial-plot-js"><span class="fa fa-github"></span> Radial Plot</a></h3>
        <p class="extra-info">
          While working on one of my contracts, I was instructed to build a feedback chart, after some research I was unable to find any chart quite like it... So I chose to build one using a JS canvas. Configurable number of axis, centered captions, hsl calculated colours, configurable styles, and legends.
        </p>
      </li>
   </ul>
  </article>
