  <article>
    <h2>Experience</h2>
    <div class="content-gallery">
      <div class="content-gallery-item">
        <div><img src="images/nsad.png" width="120px" style="float: right;"/></div>
        <span class="timeline">Nov 2016 - Current</span>
        <h4><a href="http://nsad.org.nz">Developer at NSAD</a></h4>
        <ul>
          <li>Stack: ASP.NET MVC, C#, Microsoft SQL (tSQL), HTML, JS</li>
        </ul>
      </div>
      <div class="content-gallery-item">
        <div><img src="images/pathfive.jpg" width="200px" style="float: right;"/></div>
        <span class="timeline">Mar 2016 - Nov 2016</span>
        <h4><a href="https://pathfive.ca/">Full Stack Developer at Pathfive</a></h4>
        <ul>
          <li>Stack: Scala, Play! Framework, PostgreSQL, HTML, JS</li>
          <li>Mobile Stack: Angular2, and Ionic Framework, Firebase Messaging, OTA update/deployments</li>
        </ul>
      </div>
      <div class="content-gallery-item">
        <div><img src="images/qline.jpg" width="200px" style="float: right;"/></div>
        <span class="timeline">2011-2016</span>
        <h4><a href="http://www.qlinesolutions.com/">Software Developer at QLine Solutions Inc.</a></h4>
        <ul>
          <li>Stack: MVC using C#, ASP.NET, HTML, JS, Microsoft SQL (tSQL)</li>
          <li>Converted 400k line legacy VB6 application to .NET</li>
          <li>Provided performance/bug fixes for legacy VB6 application</li>
        </ul>
      </div>
      <div class="content-gallery-item">
        <div><img src="images/xpc.jpg"/ width="200px" style="float: right;"></div>
        <span class="timeline">2010-2011</span>
        <h4><a href="http://extreme-pc.ca">System Builder / Manager at Extreme PC</a></h4>
        <ul>
          <li>Built high-performance custom systems ($2k-13k)</li>
          <li>Managed Google AdWords campaign and website product management</li>
        </ul>
      </div>
      <div class="content-gallery-item">
        <div><img src="images/ositech.jpg" width="200px" style="float: right;"/></div>
        <span class="timeline">Summer 2009</span>
        <h4><a href="https://www.ositech.com/">Junior Programmer at Ositech Communications</a></h4>
        <ul>
         <li>Wrote web configuration utility for linux powered peripheral device. Written in C++</li>
        </ul>
      </div>
    </div>

    <h2>Education</h2>
    <div class="content-gallery">
      <div class="content-gallery-item">
        <div><img src="images/trent.jpg" width="200px" style="float: right;"/></div>
        <span class="timeline">2011-2015</span>
        <h4><a href="http://www.trentu.ca/">BScH - Computer Science: Software Engineering Specialization</a></h4>
        <ul>
          <li><a href="/papers">Read some of my papers on AI, Distributed and ARM Architectures (and some others)</a></li>
        </ul>
      </div>
    </div>

    <h2>Projects</h2>
      <div class="content-gallery">
        <div class="content-gallery-item">
          <div></div>
          <h3><a href="https://github.com/Tiggilyboo/wapiq"><span class="fa fa-github"></span> WAPIQ</a></h3>
          <p>
            Web API Query Language: Query multiple API endpoints, and map obscure API responses to objects.
            Easily query web APIs like SQL, handles static arguments, dynamic query parameters, HTTP header and body
            manipulation.
            Written and interfaces as a Golang library (Should you wish to serialize into go structs), or as a CLI and pipe in bash on any platform.
            Currently only supports JSON mapping, potential to support XML and others in the future!
          </p>
        </div>
      </div>
      <div class="content-gallery-item">
        <div><img src="https://lh3.googleusercontent.com/gPtjpw-01msAQxLoqNyij9dTkC7AHf9I9ydH3qi5BMgbtRs-iDsEdlGPmkHwoNOzJ-M=w300-rw"/></div>
        <h3><a href="https://github.com/Tiggilyboo/Wikinder"><span class="fa fa-github"></span> Wikinder</a></h3>
        <p>
Wiknder is a fun way to connect with new and interesting Wikipedia articles. Swipe right to Like or left to Pass on the articles Wiknder
recommends. Let
Wiknder help you explore the free encyclopedia containing more than 32 million articles in 280 languages--making it the most comprehensive and widely used reference
work humans have ever compiled.
Wiknder is FREE.
        </p>
	<div style="float: right;"><a
href="https://play.google.com/store/apps/details?id=com.cannymoose.wiknder&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"><img
style="width: 200px;"
alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/generic/en-play-badge.png" /></a></div>
      </div>

      <div class="content-gallery-item">
        <h3><a href="https://github.com/Tiggilyboo/UnityQuadTreePlanet">
          <span class="fa fa-github"></span>
          Unity 3D QuadTree Planet Generator</a>
        </h3>
        <p>This Unity3D script generates a planet using QuadTree level of detail procedurally. It implements 3 dimensional fractional brownian motion noise using
LibNoise. The script generates higher levels of detail as the camera gets closer to the surface of the planet, and removes higher detail when the camera
moves away.
      </div>

      <div class="content-gallery-item">
        <img src="/images/llwyth.jpg"/>
        <h3><a href="https://bitbucket.org/tiggilyboo/llwyth">
          <span class="fa fa-bitbucket"></span>
          Llwyth
        </a>
        </h3>
        <p>The startings of a game written in C++ using the Ogre3D engine.
	The game's premise was to create an autonomous ecosystem of AIs using genetic algorithms,
	whereby the player takes control of a single lineage...
	Was not able to pursue this project with enough time as well as studying/working during my bachelors - It's very much a work in progress.
	There is much more content written in the repo...
        I hope to pick this up again in another technology, one that will take less investment in time to complete.
        Also, reducing the scope is a great idea.
	     </p>
      </div>
    </div>

  </article>
