  <article>
    <h2>Experience</h2>

    <div class="timeline-container">
      <div class="timeline">
        <div class="timeline-item">
          <img class="timeline-image" src="images/carenz.png" width="200px"/>
          <span>2017 (Sep) - Current</span>
          <h4><a href="http://www.carenz.co.nz">Senior Developer at CareNZ</a></h4>
          <ul class="extra-info">
            <li>Stack: ASP.NET MVC, Entity Framework, C#, MSSQL 2017, HTML, JS, Kendo</li>
            <li>Contractor and senior role from September 2017.</li>
          </ul>
        </div>
      </div>
      
      <div class="timeline">
        <div class="timeline-item">
          <img class="timeline-image" src="images/nsad.png" width="180px"/>
          <span>2016 (Nov) - 2017</span>
          <h4><a href="http://nsad.org.nz">Developer at NSAD</a></h4>
          <ul class="extra-info">
            <li>Stack: ASP.NET MVC, Entity Framework, C#, Microsoft SQL (tSQL), HTML, JS</li>
          </ul>
        </div>
      </div>

      <div class="timeline">
        <div class="timeline-item">
          <img class="timeline-image" src="images/pathfive.jpg" width="200px"/>
          <span>2016 (March - Nov)</span>
          <h4><a href="https://pathfive.ca/">Full Stack Developer at Pathfive</a></h4>
          <ul class="extra-info">
            <li>Stack: Scala, Play! Framework, PostgreSQL, HTML, JS</li>
            <li>Mobile Stack: Angular2, and Ionic Framework, Firebase Messaging, OTA update/deployments</li>
          </ul>
        </div>
      </div>

      <div class="timeline">
        <div class="timeline-item">
          <img class="timeline-image" src="images/qline.jpg" width="200px"/>
          <span>2011-2016</span>
          <h4><a href="http://www.qlinesolutions.com/">Software Developer at QLine Solutions Inc.</a></h4>
          <ul class="extra-info">
            <li>Stack: ASP.NET MVC, Dapper.NET, C#, Microsoft SQL (tSQL), HTML, JS</li>
            <li>Converted 400k line legacy VB6 application to .NET</li>
            <li>Provided performance/bug fixes for legacy VB6 application</li>
          </ul>
        </div>
      </div>

      <div class="timeline">
        <div class="timeline-item">
          <img class="timeline-image" src="images/xpc.jpg" width="200px">
          <span>2010-2011</span>
          <h4><a href="http://extreme-pc.ca">System Builder / Manager at Extreme PC</a></h4>
          <ul class="extra-info">
            <li>Built high-performance custom systems ($2k-13k)</li>
            <li>Managed Google AdWords campaign and website product management</li>
          </ul>
        </div>
      </div>

      <div class="timeline">
        <div class="timeline-item">
          <img class="timeline-image" src="images/ositech.jpg" width="200px"/>
          <span>2009 (June-August)</span>
          <h4><a href="https://www.ositech.com/">Junior Programmer at Ositech Communications</a></h4>
          <ul class="extra-info">
           <li>Wrote web configuration utility for linux powered peripheral device in C++</li>
          </ul>
        </div>
      </div>
    </div>

    <h2>Education</h2>
    <div class="timeline-container">
      <div class="timeline">
        <div class="timeline-item">
          <img class="timeline-image" src="images/trent.jpg" width="200px"/>
          <span>2011-2015</span>
          <h4><a href="http://www.trentu.ca/">BScH - Computer Science: Software Engineering</a></h4>
          <ul class="extra-info">
            <li>Read some of my <a href="/papers">papers</a> on AI, Distributed and ARM Architectures (and some others)</li>
          </ul>
        </div>
      </div>
    </div>

    <h2>Projects</h2>
    <ul class="content-gallery">
      <li class="content-gallery-item">
        <div></div>
        <h3><a href="https://github.com/Tiggilyboo/wapiq"><span class="fa fa-github"></span> WAPIQ</a></h3>
        <p class="extra-info">
          Web API Query Language: Query multiple API endpoints, and map obscure API responses to configured schemas.
          Easily query web APIs in a language akin to SQL. Features static arguments, dynamic query parameters, and HTTP header and body
          manipulation.
          Written in Go, with extensible open source library (Should you wish to serialize into go structs), or as a CLI and pipe on any
          Go supported platform (Reserialize from mapped JSON response).
          Currently only supports JSON mapping from web API responses, potential to support XML and others in the future!
          <div><a href="/blog/WAPIQ/">Read more</a></div>
        </p>
      </li>
      <li class="content-gallery-item">
        <div><img src="https://lh3.googleusercontent.com/gPtjpw-01msAQxLoqNyij9dTkC7AHf9I9ydH3qi5BMgbtRs-iDsEdlGPmkHwoNOzJ-M=w300-rw"/></div>
        <h3><a href="https://github.com/Tiggilyboo/Wikinder"><span class="fa fa-github"></span> Wikinder</a></h3>
        <p class="extra-info">
          Wiknder is a fun way to connect with new and interesting Wikipedia articles. Swipe right to Like or left to Pass on the articles Wiknder
          recommends. Let
          Wiknder help you explore the free encyclopedia containing more than 32 million articles in 280 languages--making it the most comprehensive and widely used reference
          work humans have ever compiled.
          Wiknder is FREE.
        </p>
	       <div style="float: right;">
           <a href="https://play.google.com/store/apps/details?id=com.cannymoose.wiknder&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1">
             <img style="width: 200px;" alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/generic/en-play-badge.png" /></a>
        </div>
      </li>
      <li class="content-gallery-item">
        <h3>
          <a href="https://github.com/Tiggilyboo/UnityQuadTreePlanet">
            <span class="fa fa-github"></span>
            Unity 3D QuadTree Planet Generator
          </a>
        </h3>
        <p class="extra-info">
          This Unity3D script generates a planet using QuadTree level of detail procedurally. It implements 3 dimensional fractional brownian motion noise using
          LibNoise. The script generates higher levels of detail as the camera gets closer to the surface of the planet, and removes higher detail when the camera
          moves away.
        </p>
      </li>
   </ul>
  </article>
