<div class="social">
  <a href="https://github.com/Tiggilyboo"><span class="fa fa-github" alt="GitHub"></span></a>
  <a href="http://bitbucket.com/Tiggilyboo"><span class="fa fa-bitbucket" alt="Bitbucket"></span></a>
  <a href="http://stackoverflow.com/users/3969264/tiggilyboo"><span class="fa fa-stack-overflow"></a>
  <a href="http://twitter.com/Tiggilyboo"><span class="fa fa-twitter" alt="Twitter"></span></a>
  <!-- <a href="http://reddit.com/u/Tiggilyboo"><span class="fa fa-reddit" alt="Reddit"></span></a> -->
</div>
