<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/languages/scala.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/languages/dockerfile.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/languages/go.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/languages/python.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/languages/sql.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/languages/typescript.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/languages/rust.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/languages/brainfuck.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/languages/yaml.min.js"></script>
<script type="text/javascript">
  hljs.registerLanguage("wapiq",function(a){var b=a.C("#","$");return{cI:!0,i:/[\[\] {}#]/,c:[{bK:"API GET POST MAP FOR WHERE",e:/;/,eW:!0,l:/[\w\.]+/,k:{keyword:"/ API GET POST MAP FOR WHERE",literal:"args path type head query args"},c:[{cN:"attr",b:'"',e:'"',c:[a.BE,{b:"\\\\."}]},{cN:"string",b:"`",e:"`",c:[a.BE,{b:"\\\\."}]},a.CNM,a.CBCM,b]},{cN:"type",b:'"',e:'"',c:[a.BE,{b:"\\\\."}]},{bK:"/",cN:"attr",b:".",e:"FOR",c:[a.BE,{b:"\\\\."}]},{cN:"string",b:"`",e:"`",c:[a.BE,{b:"\\\\."}]},a.CBCM,b]}});
</script>
